<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Резюме {{username}}</h1>
    <hr>
    <ul>
        <li>
            Имя: {{resume.name}}
        </li>
        <li>
            Фамилия: {{resume.surname}}
        </li>
        <li>
            Возраст: {{resume.age}}
        </li>
        <li>
            Предыдущее место работы: {{resume.company}}
        </li>
        <li>
            Должность: {{resume.position}}
        </li>
        <li>
            Стаж: {{resume.experience}}
        </li>
    </ul>
</body>
</html>